@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body {
        height: 100%;
        background-color: #080c0b;
        color: #e5e7eb;
        font-family: Raleway;
    }
    h1, h2, h3, h4, h5, h6 {
        color: #fff;
    }
    h2 {
        font-size: 2.2rem;
    }
    p {
        font-size: 1.2rem;
    }
    a {
        font-weight: 300;
        font-size: 1.1rem;
    }
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }
}